@function sprite_image_url(){
  @return image-url('art.png');
}


@function sprite_position_cursor(){
  @return -678px -2px;
}
@mixin sprite_cursor($width: 20px, $height: 20px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_cursor();
  }
}

@function sprite_position_highlight(){
  @return -626px -2px;
}
@mixin sprite_highlight($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_highlight();
  }
}

@function sprite_position_ingredient_bomb_0000(){
  @return -678px -2px;
}
@mixin sprite_ingredient_bomb_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_bomb_0000();
  }
}

@function sprite_position_ingredient_bomb_0001(){
  @return -626px -2px;
}
@mixin sprite_ingredient_bomb_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_bomb_0001();
  }
}

@function sprite_position_ingredient_blue_0000(){
  @return -574px -2px;
}
@mixin sprite_ingredient_blue_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_blue_0000();
  }
}

@function sprite_position_ingredient_blue_0001(){
  @return -522px -2px;
}
@mixin sprite_ingredient_blue_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_blue_0001();
  }
}

@function sprite_position_ingredient_green_0000(){
  @return -470px -2px;
}
@mixin sprite_ingredient_green_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_green_0000();
  }
}

@function sprite_position_ingredient_green_0001(){
  @return -418px -2px;
}
@mixin sprite_ingredient_green_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_green_0001();
  }
}

@function sprite_position_ingredient_orange_0000(){
  @return -366px -2px;
}
@mixin sprite_ingredient_orange_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_orange_0000();
  }
}

@function sprite_position_ingredient_orange_0001(){
  @return -314px -2px;
}
@mixin sprite_ingredient_orange_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_orange_0001();
  }
}

@function sprite_position_ingredient_purple_0000(){
  @return -262px -2px;
}
@mixin sprite_ingredient_purple_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_purple_0000();
  }
}

@function sprite_position_ingredient_purple_0001(){
  @return -210px -2px;
}
@mixin sprite_ingredient_purple_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_purple_0001();
  }
}

@function sprite_position_ingredient_red_0000(){
  @return -158px -2px;
}
@mixin sprite_ingredient_red_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_red_0000();
  }
}

@function sprite_position_ingredient_red_0001(){
  @return -106px -2px;
}
@mixin sprite_ingredient_red_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_red_0001();
  }
}

@function sprite_position_ingredient_yellow_0000(){
  @return -54px -2px;
}
@mixin sprite_ingredient_yellow_0000($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_yellow_0000();
  }
}

@function sprite_position_ingredient_yellow_0001(){
  @return -2px -2px;
}
@mixin sprite_ingredient_yellow_0001($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  background: {
    repeat: no-repeat;
    image: sprite_image_url();
    position: sprite_position_ingredient_yellow_0001();
  }
}


